<script>
	document.addEventListener('DOMContentLoaded', () => {
		const images = document.querySelectorAll('.microblog_collection img');
		let currentImageIndex = 0;

		function createLightbox() {
			// dynamically add lightbox elements to the page
			const lightbox = document.createElement('div');
			lightbox.id = 'microblog_lightbox';
			
			const closeBtn = document.createElement('button');
			closeBtn.id = 'microblog_lightbox_close_btn';
			closeBtn.innerHTML = '&times;';
			
			const prevBtn = document.createElement('button');
			prevBtn.id = 'microblog_lightbox_prev_btn';
			prevBtn.className = 'microblog_lightbox_nav';
			prevBtn.innerHTML = '&larr;';
			
			const nextBtn = document.createElement('button');
			nextBtn.id = 'microblog_lightbox_next_btn';
			nextBtn.className = 'microblog_lightbox_nav';
			nextBtn.innerHTML = '&rarr;';
			
			const lightboxImg = document.createElement('img');
			lightboxImg.id = 'microblog_lightbox_img';
			lightboxImg.alt = 'Lightbox Image';
			
			lightbox.appendChild(closeBtn);
			lightbox.appendChild(prevBtn);
			lightbox.appendChild(lightboxImg);
			lightbox.appendChild(nextBtn);
			
			document.body.appendChild(lightbox);
		
			return { lightbox, closeBtn, prevBtn, nextBtn, lightboxImg };
		}
		
		const { 
			lightbox, 
			closeBtn, 
			prevBtn, 
			nextBtn, 
			lightboxImg 
		} = createLightbox();

		function openLightbox(index) {
			currentImageIndex = index;
			lightboxImg.src = images[index].getAttribute('data-microblog-lightbox');
			lightbox.style.display = 'flex';
		}

		function closeLightbox() {
			lightbox.style.display = 'none';
		}

		function navigatePrevious() {
			currentImageIndex = (currentImageIndex - 1 + images.length) % images.length;
			lightboxImg.src = images[currentImageIndex].getAttribute('data-microblog-lightbox');
		}

		function navigateNext() {
			currentImageIndex = (currentImageIndex + 1) % images.length;
			lightboxImg.src = images[currentImageIndex].getAttribute('data-microblog-lightbox');
		}

		// open lightbox when clicking on image
		images.forEach((img, index) => {
			img.addEventListener('click', () => openLightbox(index));
		});

		closeBtn.addEventListener('click', closeLightbox);
		prevBtn.addEventListener('click', navigatePrevious);
		nextBtn.addEventListener('click', navigateNext);

		// keyboard navigation
		document.addEventListener('keydown', (e) => {
			if (lightbox.style.display === 'flex') {
				switch (e.key) {
					case 'ArrowLeft':
						navigatePrevious();
						break;
					case 'ArrowRight':
						navigateNext();
						break;
					case 'Escape':
						closeLightbox();
						break;
				}
			}
		});

		// close lightbox when clicking outside the image
		lightbox.addEventListener('click', (e) => {
			if (e.target === lightbox) {
				closeLightbox();
			}
		});
	});
</script>
